body {
    text-align: center;
    padding: 5%;
    background-color: #111;
    color: white;
    font-family: Arial;
}

.meme-button {
    cursor: pointer;
    font-style: italic;
    padding: 10px;
}

.meme-item {
    text-align: left;
    display: inline-block;
    padding: 10px;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 5px;
    cursor: pointer;
}

.meme-img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 3px solid white;
    position: absolute;
    object-fit: cover;
    filter: brightness(90%);
}

.my-meme-img {
    width: 220px;
} 

.container {
    position: relative;
    display: inline-block;
    width: 225px;
    margin: 5px;
    border-radius: 4px;
    padding: 0px;
    border: 3px solid white;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 220px;
    opacity: 0;
    transition: .3s ease;
    background-color: rgb(226, 99, 99);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.meme-text {
    width: 150px;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    font-size: 15px;
}

.no-text {
    display: none;
}

.darken-img {
    background-color: grey;
    filter: brightness(10%);
    animation-name: darken;
    animation-duration: 1s;
}

@keyframes darken {
    from {filter: brightness(90%)};
    to {filter: brightness(10%)};
}

@keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 100 }
}